## 0. Libraries import

In [28]:
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [29]:
# imports 
import numpy as np
import pandas as pd
pd.set_option("display.max_columns", 50)
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import StandardScaler
#train test split
from sklearn.model_selection import train_test_split
# Hyperparameters selection
from sklearn.model_selection import RandomizedSearchCV
# Importing cross validation function from sklearn
from sklearn.model_selection import cross_val_score
# models
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
# error
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

## 1. Data import

### 1.1 Impor train data

In [30]:
df_diamonds_train=pd.read_csv('../data/diamonds_train.csv')
df_diamonds_train.pop("Unnamed: 0") #dropped an unnecessary column
df_diamonds_train

,index_id,depth,table,x,y,z,price,carat,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,1.21,Premium,J,VS2,Dubai
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75,505,0.32,Very Good,H,VS2,Kimberly
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65,2686,0.71,Fair,G,VS1,Las Vegas
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00,738,0.41,Good,D,SI1,Kimberly
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95,4882,1.02,Ideal,G,SI1,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43,10070,1.34,Ideal,G,VS1,Antwerp
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73,12615,2.02,Good,F,SI2,Madrid
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01,5457,1.01,Ideal,H,SI1,Kimberly
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76,456,0.33,Ideal,J,VS1,Kimberly
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25,6232,1.24,Ideal,I,SI1,London

### 1.2 Impor test data

In [31]:
df_diamonds_test=pd.read_csv('../data/diamonds_test.csv')
df_diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

## 2. Data preparation (training set)

### 2.1 Defining numerical and categorical features

In [32]:
# Excluding city (with trees sometimes is better to keep variables even if they are correlated)
num_features_list=['x','y','z','depth','table','carat']
cat_features_list=['cut','color','clarity','city']
target='price'
features_list=['x','y','z','depth','table','carat','cut','color','clarity','city']

In [33]:
# 2. Cross target encoding
# Mean
cut_color_encoding = df_diamonds_train.groupby(['cut','color'])['price'].mean().to_dict()
df_diamonds_train['cut_color_encoding'] = df_diamonds_train.set_index(['cut',
                                                                       'color']).index.map(cut_color_encoding.get).astype(float)
cut_clarity_encoding = df_diamonds_train.groupby(['cut','clarity'])['price'].mean().to_dict()
df_diamonds_train['cut_clarity_encoding'] = df_diamonds_train.set_index(['cut',
                                                                       'clarity']).index.map(cut_clarity_encoding.get).astype(float)
color_clarity_encoding = df_diamonds_train.groupby(['color','clarity'])['price'].mean().to_dict()
df_diamonds_train['color_clarity_encoding'] = df_diamonds_train.set_index(['color',
                                                                           'clarity']).index.map(color_clarity_encoding.get).astype(float)

In [37]:
features_list_encoding=['x','y','z','depth','table','carat','cut','color','clarity','city'
                        ,'cut_color_encoding','cut_clarity_encoding','color_clarity_encoding']

### 3.5 One hot encoding

In [38]:
# 3. Defining features y target
#features_list_volume=['x', 'y', 'z', 'depth', 'table', 'carat', 'cut', 'color', 'clarity','volume']
X=df_diamonds_train[features_list_encoding]
y=df_diamonds_train['price']

In [39]:
for column in cat_features_list:
    X[column]=X[column].astype('category')
    X[column]=X[column].cat.codes

In [40]:
X

,x,y,z,depth,table,carat,cut,color,clarity,city,cut_color_encoding,cut_clarity_encoding,color_clarity_encoding
0,6.83,6.79,4.25,62.4,58.0,1.21,3,6,5,2,6376.983740,4577.414201,5260.516874
1,4.35,4.38,2.75,63.0,57.0,0.32,4,4,5,3,4541.993464,4277.315195,4686.621902
2,5.62,5.53,3.65,65.5,55.0,0.71,0,3,4,4,4473.021368,4151.344262,4153.819453
3,4.68,4.72,3.00,63.8,56.0,0.41,1,0,2,3,3311.693089,3601.061697,2970.951792
4,6.55,6.51,3.95,60.5,59.0,1.02,2,3,2,2,3751.364560,3759.057457,3787.558804
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,7.10,7.04,4.43,62.7,57.0,1.34,2,3,4,1,3751.364560,3484.675277,4153.819453
40451,8.31,8.25,4.73,57.1,60.0,2.02,1,2,3,7,3477.504518,4562.165025,4511.178542
40452,6.37,6.42,4.01,62.7,56.0,1.01,2,4,2,3,3873.835802,3759.057457,5042.731524
40453,4.45,4.47,2.76,61.9,54.3,0.33,2,6,4,3,4854.274311,3484.675277,4781.833741
40454,6.83,6.88,4.25,62.0,58.0,1.24,2,5,2,5,4409.012354,3759.057457,5315.857008

### 3.7 Define train and validation

In [41]:
# 5.Splitting train and test
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
X_train.shape

(32364, 13)

In [43]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32364 entries, 32121 to 15795
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   x                       32364 non-null  float64
 1   y                       32364 non-null  float64
 2   z                       32364 non-null  float64
 3   depth                   32364 non-null  float64
 4   table                   32364 non-null  float64
 5   carat                   32364 non-null  float64
 6   cut                     32364 non-null  int8
 7   color                   32364 non-null  int8
 8   clarity                 32364 non-null  int8
 9   city                    32364 non-null  int8
 10  cut_color_encoding      32364 non-null  float64
 11  cut_clarity_encoding    32364 non-null  float64
 12  color_clarity_encoding  32364 non-null  float64
dtypes: float64(9), int8(4)
memory usage: 2.6 MB

## 4. Data preparation (test set)

## 5. Feature engineering (test set)

In [44]:
# 0. Adapting categorical features for validation model
X_test=df_diamonds_test[features_list]

In [45]:
# 2. Cross target encoding
# Mean
cut_color_encoding = df_diamonds_train.groupby(['cut','color'])['price'].mean().to_dict()
X_test['cut_color_encoding'] = X_test.set_index(['cut','color']).index.map(cut_color_encoding.get).astype(float)
cut_clarity_encoding = df_diamonds_train.groupby(['cut','clarity'])['price'].mean().to_dict()
X_test['cut_clarity_encoding'] = X_test.set_index(['cut','clarity']).index.map(cut_clarity_encoding.get).astype(float)
color_clarity_encoding = df_diamonds_train.groupby(['color','clarity'])['price'].mean().to_dict()
X_test['color_clarity_encoding'] = X_test.set_index(['color','clarity']).index.map(color_clarity_encoding.get).astype(float)

### 3.6 Change categorical variables to code

In [46]:
for column in cat_features_list:
    X_test[column]=X_test[column].astype('category')
    X_test[column]=X_test[column].cat.codes

In [47]:
X_test

,x,y,z,depth,table,carat,cut,color,clarity,city,cut_color_encoding,cut_clarity_encoding,color_clarity_encoding
0,5.82,5.89,3.67,62.7,60.0,0.79,4,2,2,0,3790.583636,3959.649629,3679.771031
1,6.81,6.89,4.18,61.0,57.0,1.20,2,6,4,10,4854.274311,3484.675277,4781.833741
2,7.38,7.32,4.57,62.2,61.0,1.57,3,4,2,3,5241.424619,4494.566378,5042.731524
3,6.09,6.13,3.90,63.8,54.0,0.90,4,2,2,3,3790.583636,3959.649629,3679.771031
4,5.05,5.09,3.19,62.9,58.0,0.50,4,2,4,0,3790.583636,3763.722052,3659.599024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,5.35,5.32,3.30,61.9,56.0,0.57,2,1,2,0,2624.818649,3759.057457,3132.153118
13481,5.71,5.73,3.56,62.2,55.0,0.71,2,5,5,8,4409.012354,3214.791678,5714.858295
13482,5.75,5.71,3.53,61.6,55.0,0.70,2,2,4,11,3284.470003,3484.675277,3659.599024
13483,5.85,5.89,3.45,58.8,57.0,0.70,4,2,3,10,3790.583636,5017.045820,4511.178542
13484,4.70,4.73,2.94,62.4,55.0,0.40,2,5,7,8,4409.012354,3228.531937,2768.348837

In [48]:
X_test.shape

(13485, 13)

In [49]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   x                       13485 non-null  float64
 1   y                       13485 non-null  float64
 2   z                       13485 non-null  float64
 3   depth                   13485 non-null  float64
 4   table                   13485 non-null  float64
 5   carat                   13485 non-null  float64
 6   cut                     13485 non-null  int8
 7   color                   13485 non-null  int8
 8   clarity                 13485 non-null  int8
 9   city                    13485 non-null  int8
 10  cut_color_encoding      13485 non-null  float64
 11  cut_clarity_encoding    13485 non-null  float64
 12  color_clarity_encoding  13485 non-null  float64
dtypes: float64(9), int8(4)
memory usage: 1001.0 KB

## Model definition - RandomForestRegressor - with Random Hyperparameter Grid

RandomForestRegressor: multiple trees in paralel changing samples and convining diferrent features (overfitting when the tree is big and good to reduce error variance)

Main Parameters:
   - bootstrap -> method for sampling data points (TRUE bagging and FALSE pasting, with/without replacement)
   - n_estimators -> number of trees in the foreset
   - max_depth -> max number of levels in each decision tree
   - max_features -> max number of features considered for splitting a node
   - ccp_alpha ->
   - criterion ->
   - max_leaf_nodes -> max number of solution nodes 
   - max_samples ->
   - min_impurity_decrease ->
   - min_samples_leaf -> min number of data points allowed in a leaf node
   - min_samples_split -> min number of data points placed in a node before the node is split
   - min_weight_fraction_leaf
   - n_estimators -> number of trees in the foreset
   - n_jobs 
   - oob_score 
   - random_state
   - verbose
   - warm_start

In [50]:
# 2. RandomForestRegressor definition
model = RandomForestRegressor(n_estimators=500,min_samples_split=5,min_samples_leaf=1,
                              max_features='auto',max_depth=10,bootstrap=True, random_state=42)

## Model training with validation

In [51]:
model.fit(X_train, y_train)

RandomForestRegressor(max_depth=10, min_samples_split=5, n_estimators=500,
                      random_state=42)

In [52]:
%%time
# Model predictions
y_pred_val = model.predict(X_val)

CPU times: user 421 ms, sys: 6.75 ms, total: 428 ms
Wall time: 430 ms

In [53]:
%%time
# Model predictions
y_pred_train = model.predict(X_train)

CPU times: user 1.33 s, sys: 5.49 ms, total: 1.33 s
Wall time: 1.34 s

## Training set error

In [54]:
# Model predictions
rmse_train = mean_squared_error(y_train, y_pred_train)**0.5
rmse_train

493.7331189176499

In [55]:
mae_train=mean_absolute_error(y_train, y_pred_train)
mae_train

273.6064570359614

In [56]:
r2r = r2_score(y_val, y_pred_val)
r2r

0.9795237278169981

## Model validation

In [57]:
#432
rmse_val = mean_squared_error(y_val, y_pred_val)**0.5
rmse_val

577.4529502451969

In [58]:
mae_val=mean_absolute_error(y_val, y_pred_val)
mae_val

306.2800514741011

In [59]:
r2r = r2_score(y_val, y_pred_val)
r2r

0.9795237278169981

## Model training without validation

In [95]:
%%time
# Model training
model.fit(X, y)

CPU times: user 33.6 s, sys: 177 ms, total: 33.8 s
Wall time: 34 s

RandomForestRegressor(max_depth=10, min_samples_split=5, n_estimators=500,
                      random_state=42)

## Test Preditions

In [97]:
predictions = model.predict(X_test)

In [98]:
predictions=pd.DataFrame(predictions)

In [99]:
predictions.reset_index(inplace=True)

In [100]:
predictions=predictions.rename({0: 'price','index': 'id'}, axis=1)

## Save Preditions

In [101]:
predictions.to_csv('../data/diamonds_predictions_catcodes.csv',index=False)