## Libraries import

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#train test split
from sklearn.model_selection import train_test_split
#models
from sklearn.linear_model import Ridge 
#error
from sklearn.metrics import mean_squared_error

## Data import

In [4]:
# Impor train data
df_diamonds_train=pd.read_csv('../data/diamonds_train.csv')
df_diamonds_train.pop("Unnamed: 0")
df_diamonds_train

,index_id,depth,table,x,y,z,price,carat,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,1.21,Premium,J,VS2,Dubai
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75,505,0.32,Very Good,H,VS2,Kimberly
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65,2686,0.71,Fair,G,VS1,Las Vegas
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00,738,0.41,Good,D,SI1,Kimberly
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95,4882,1.02,Ideal,G,SI1,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43,10070,1.34,Ideal,G,VS1,Antwerp
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73,12615,2.02,Good,F,SI2,Madrid
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01,5457,1.01,Ideal,H,SI1,Kimberly
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76,456,0.33,Ideal,J,VS1,Kimberly
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25,6232,1.24,Ideal,I,SI1,London

In [5]:
# Import test data
df_diamonds_test=pd.read_csv('../data/diamonds_test.csv')
df_diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

## Data prep

In [6]:
# Defining numerical and categorical features
num_features_list=['depth','table','x','y','z','carat']
cat_features_list=['cut','color','clarity']
cat_features_list_city=['cut','color','clarity','city']
features_list=['depth','table','x','y','z','carat','cut','color','clarity']
features_list_city=['depth','table','x','y','z','carat','cut','color','clarity','city']

In [7]:
# Defining data preparation for training model
X=df_diamonds_train[features_list]
    # One-hot encoding for categorical variables
X=pd.get_dummies(X,columns=cat_features_list)
    #Target
y=df_diamonds_train['price']
    # Splitting train and test
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
# Defining data preparation for testing model
X_test=df_diamonds_test[features_list]
    # One-hot encoding for categorical variables
X_test=pd.get_dummies(X_test,columns=cat_features_list)

## Model definition

In [13]:
# 1. Ridge without city
model = Ridge()
hyperparameters = model.get_params()
print(type(model), '\n')
print('Model hyperparameters:', hyperparameters, '\n')

<class 'sklearn.linear_model.ridge.Ridge'>

Model hyperparameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'max_iter': None, 'normalize': False, 'random_state': None, 'solver': 'auto', 'tol': 0.001}

## Model training with validation

In [14]:
# Model training
model.fit(X_train, y_train)
print('Model:', model, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
print('Model coefficients:', model.coef_, '\n')

Model: Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

Model hyperparameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'max_iter': None, 'normalize': False, 'random_state': None, 'solver': 'auto', 'tol': 0.001}

Model coefficients: [-6.53488639e+01 -2.68592388e+01 -9.93774963e+02 -6.23937024e+00
 -1.28695171e+01  1.11919636e+04 -5.63937036e+02 -1.03975051e+01
  2.45231123e+02  1.78301908e+02  1.50801510e+02  8.24482076e+02
  6.15939470e+02  5.45398145e+02  3.32298048e+02 -1.68179298e+02
 -6.14768643e+02 -1.53516980e+03 -3.91158638e+03  1.52274808e+03
 -1.36695418e+02 -1.09293766e+03  7.74676225e+02  4.73343297e+02
  1.22553991e+03  1.14491195e+03]

## Model validation

In [15]:
%%time
# Model predictions
y_pred_val = model.predict(X_val)
print(type(y_pred_val))

<class 'numpy.ndarray'>
CPU times: user 2.83 ms, sys: 1.71 ms, total: 4.54 ms
Wall time: 2.26 ms

In [16]:
rmse_val = mean_squared_error(y_val, y_pred_val)**0.5
rmse_val

1124.915953231129

## Model training without validation

In [17]:
# Model training
model.fit(X, y)
print('Model:', model, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
print('Model coefficients:', model.coef_, '\n')

Model: Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

Model hyperparameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'max_iter': None, 'normalize': False, 'random_state': None, 'solver': 'auto', 'tol': 0.001}

Model coefficients: [-6.28283846e+01 -2.78343297e+01 -9.78290826e+02  3.32152190e+00
 -9.43216655e+01  1.12570024e+04 -5.77769959e+02  1.71657906e+00
  2.47106624e+02  1.80637204e+02  1.48309553e+02  8.20493055e+02
  6.16194781e+02  5.50002353e+02  3.39522251e+02 -1.55316318e+02
 -6.23171872e+02 -1.54772425e+03 -3.87357945e+03  1.51347946e+03
 -1.34120856e+02 -1.09375022e+03  7.74350280e+02  4.65527283e+02
  1.20713003e+03  1.14096347e+03]

## Test Preditions

In [18]:
predictions = model.predict(X_test)

In [19]:
predictions=pd.DataFrame(predictions)

In [20]:
predictions.reset_index(inplace=True)

In [21]:
predictions=predictions.rename({0: 'price','index': 'id'}, axis=1)

## Save Preditions

In [22]:
predictions.to_csv('../data/diamonds_predictions_Ridge.csv',index=False)

## Final RME

In [23]:
df_sample_submission=pd.read_csv('../data/sample_submission.csv')

In [24]:
rmse_val = mean_squared_error(df_sample_submission['price'], predictions['price'])**0.5
rmse_val

5138.659143608049