## Libraries import

In [43]:
import warnings
warnings.filterwarnings('ignore')

In [44]:
# imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#train test split
from sklearn.model_selection import train_test_split
#models
from sklearn.linear_model import ElasticNet
#error
from sklearn.metrics import mean_squared_error

## Data import

In [45]:
# Impor train data
df_diamonds_train=pd.read_csv('../data/diamonds_train.csv')
df_diamonds_train.pop("Unnamed: 0")
df_diamonds_train

,index_id,depth,table,x,y,z,price,carat,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,1.21,Premium,J,VS2,Dubai
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75,505,0.32,Very Good,H,VS2,Kimberly
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65,2686,0.71,Fair,G,VS1,Las Vegas
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00,738,0.41,Good,D,SI1,Kimberly
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95,4882,1.02,Ideal,G,SI1,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43,10070,1.34,Ideal,G,VS1,Antwerp
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73,12615,2.02,Good,F,SI2,Madrid
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01,5457,1.01,Ideal,H,SI1,Kimberly
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76,456,0.33,Ideal,J,VS1,Kimberly
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25,6232,1.24,Ideal,I,SI1,London

In [46]:
# Import test data
df_diamonds_test=pd.read_csv('../data/diamonds_test.csv')
df_diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

## Data prep

In [48]:
# Defining numerical and categorical features
num_features_list=['depth','table','x','y','z','carat']
cat_features_list=['cut','color','clarity']
features_list=['depth','table','x','y','z','carat','cut','color','clarity']

In [49]:
# Defining data preparation for training model
X=df_diamonds_train[features_list]
    # One-hot encoding for categorical variables
X=pd.get_dummies(X,columns=cat_features_list)
    #Target
y=df_diamonds_train['price']
    # Splitting train and test
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [50]:
# Defining data preparation for testing model
X_test=df_diamonds_test[features_list]
    # One-hot encoding for categorical variables
X_test=pd.get_dummies(X_test,columns=cat_features_list)

## Model definition

In [51]:
# 1. Lasso without city
model = ElasticNet()
hyperparameters = model.get_params()
print(type(model), '\n')
print('Model hyperparameters:', hyperparameters, '\n')

<class 'sklearn.linear_model.coordinate_descent.ElasticNet'>

Model hyperparameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'l1_ratio': 0.5, 'max_iter': 1000, 'normalize': False, 'positive': False, 'precompute': False, 'random_state': None, 'selection': 'cyclic', 'tol': 0.0001, 'warm_start': False}

## Model training with validation

In [52]:
# Model training
model.fit(X_train, y_train)
print('Model:', model, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
print('Model coefficients:', model.coef_, '\n')

Model: ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

Model hyperparameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'l1_ratio': 0.5, 'max_iter': 1000, 'normalize': False, 'positive': False, 'precompute': False, 'random_state': None, 'selection': 'cyclic', 'tol': 0.0001, 'warm_start': False}

Model coefficients: [ -21.77769416  -20.45903178 1109.26340281  964.79062094  664.19706427
  659.21975258  -50.61343817  -41.93643709   43.51442828   33.81138135
   14.22394427   26.08647003   14.01423187   31.36513686   59.03231134
  -29.27958046  -29.07700361  -73.14127678  -76.68672322   55.03221854
 -120.25819659 -179.04481948   73.93473545   58.14478216   78.1376211
  108.74023121]

## Model validation

In [53]:
%%time
# Model predictions
y_pred_val = model.predict(X_val)
print(type(y_pred_val))

<class 'numpy.ndarray'>
CPU times: user 3.8 ms, sys: 2.57 ms, total: 6.37 ms
Wall time: 2.64 ms

In [54]:
rmse_val = mean_squared_error(y_val, y_pred_val)**0.5
rmse_val

1838.4066515188458

## Model training without validation

In [55]:
# Model training
model.fit(X, y)
print('Model:', model, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
print('Model coefficients:', model.coef_, '\n')

Model: ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

Model hyperparameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'l1_ratio': 0.5, 'max_iter': 1000, 'normalize': False, 'positive': False, 'precompute': False, 'random_state': None, 'selection': 'cyclic', 'tol': 0.0001, 'warm_start': False}

Model coefficients: [ -22.50012879  -18.07327666 1103.69765819  985.64552282  659.21461885
  656.65001975  -50.81876     -38.54286191   45.53712923   34.63217522
    8.19218598   26.94872386   13.45572511   30.06576625   60.78130076
  -29.48430697  -28.70172207  -74.06515595  -75.85888267   56.01756623
 -118.22034417 -179.079671     73.75503495   53.60089078   77.98611507
  109.79911093]

## Test Preditions

In [17]:
predictions = model.predict(X_test)

In [56]:
predictions=pd.DataFrame(predictions)

In [57]:
predictions.reset_index(inplace=True)

In [58]:
predictions=predictions.rename({0: 'price','index': 'id'}, axis=1)

## Save Preditions

In [59]:
predictions.to_csv('../data/diamonds_predictions_ElasticNet.csv',index=False)

## Final RME

In [60]:
df_sample_submission=pd.read_csv('../data/sample_submission.csv')

In [61]:
rmse_val = mean_squared_error(df_sample_submission['price'], predictions['price'])**0.5
rmse_val

5134.249154048432